/*! HTML5 Boilerplate v5.0.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ffb92a;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

  /*  ===================================
      general
      =================================== */

      * {
        box-sizing: border-box;
        font-family: 'Roboto', sans-serif;
      }

      a {
        text-decoration: none;
      }

      img {
        max-width: 100%;
      }

      h5 {
        font-weight: 100;
      }

      .container {
        background-color: rgba(150, 217, 255, .5);
        /*border: 1px solid tomato;*/
        border: 2px solid #000;
        max-width: 64em;
        margin: 0 auto;
        /*padding: 0 0;*/
        
      }

      .title,
      .info, {
        text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                     0px 8px 13px rgba(0,0,0,0.1),
                     0px 18px 23px rgba(0,0,0,0.1);
      }
      
      .articleTitle,
      .articleSubtitle {
        text-shadow: 3px 3px 10px #919191;
      }

      header, footer {
        clear: left;
      }

  /*  ===================================
      header
      =================================== */

      header {
        margin: 0 0 30px 0;
        border-bottom: 10px solid lightslategrey;
        /*padding: 5px 5px;*/
        /*max-width: 200em;*/
        /*background-color: #008eff;*/
        background: #008eff url('../header.jpg') no-repeat top;
        color: #fff;
        float: left;
        /*display: block;*/
        width: 100%;
        /*height: 200px;*/
        
      }

      /*header  .title,
              .info {
                text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                             0px 8px 13px rgba(0,0,0,0.1),
                             0px 18px 23px rgba(0,0,0,0.1);
              }*/

      .title {
        width: 65%;
        /*height: 100px;*/
        float: left;
        margin: auto 0;
        padding: 30px 20px;
        /*display: inline-block;*/
        /*border: 2px solid yellow;*/
      }

      .info {
        width: 35%;
        
        float: left;
        padding: 30px 10px;
        /*border: 2px solid yellow; */
      }

      .info ul {
        list-style: none;
      }

      .info ul li {
        display: inline-block;
        padding: 0 2px;
      }



  /*  ===================================
      nav
      =================================== */

      nav {
        float: left;
        margin: 5px 2.5%;
        width: 30%;
        /*background-color: lightgrey;*/
      }

      nav ul {
        list-style: none;
      }

      nav ul li {
        margin: 2px 0;
      }

      nav img {
        display: block;
        margin: 5px auto;
        max-width: 80%;

      }



  /*  ===================================
      section
      =================================== */

      .articleContainer {
        
        /*background-color: lightyellow;*/
        float: left;
        margin: auto;
        width: 60%;
        color: #0f0f0f;
        
      }



  /*  ===================================
      article
      =================================== */

      article {
        margin-bottom: 50px;
      }

      .articleContent {
        padding: 0 .4em;
      }

      article img {
        float: right;
        width: 200px;
        margin: 0 0 10px 10px;
        display: inline-block;
      }

      .articleFooter {

      }




  /*  ===================================
      footer
      =================================== */

      footer {
        font-size: 1.75em;
        text-align: center;
        clear: both;
        margin: 10px 0 30px 0;
        padding-top: 50px;
        color: #ccc;
      }

      footer p {
        font-size: .4em;
      }




  /*  ===================================
      colors
      =================================== */

      /* .info link */
      header a, header a:visited {
        color: #fff;
      }

      /* selected .info link */
      header a.selected, header a:hover {
        color: #ffab00;
      }

      /* body link */
      a, a:visited {
        color: #0c0c0c;
      }

      /* selected body link */
      a.selected, a:hover {
        color: #ff9100;
      }

  /*  ===================================
      float clearfix
      =================================== */

      .group:after {
        content: "";
        display: table;
        clear: both;
      }














/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
